<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="header">
      <p>Welcome</p>
    </div>
    <div class="container">
      <section class="categories">
        <h1>Categories</h1>
        <ul class="genere">
          <li><a href="#">Shôjo manga (少女マンガ)</a></li>
          <li><a href="#">Josei manga (女性マンガ)</a></li>
          <li><a href="#">Shônen manga (少年マンガ)</a></li>
          <li><a href="#">Gekiga manga (劇画マンガ)</a></li>
        </ul>
        <button class="add">Add books</button>
      </section>
      <section class="books">
        <h1>Books</h1>
        <div class="book_list">
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
          <div class="block">
            <img src="img/manga1.jpg" alt="" />
            <p>Title : Girl Power</p>
            <p>Author : Krissny</p>
            <p>Genere : Shôjo manga</p>
            <p>Publication Year : 2008</p>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
